/* style.css */

/* Keyframes */

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* Estilos padrão */
body, h1, p, nav, div, a {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Menu superior */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .logo h1 {
    font-size: 2rem;
    padding: 10px;
}

nav .banner {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    background-image: url('../images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
}

nav .banner span {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    font-size: 2rem;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    text-shadow: 2px 10px 6px rgba(0, 0, 0, 0.5);
}

nav .banner .show-text {
    opacity: 1; 
    animation: fade-in-up 0.5s forwards;
}

nav .banner .hide-text {
    animation: fade-out-down 0.5s forwards;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #444;
}

nav .menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px 154px;
    display: block;
}

nav .menu a:hover {
    background-color: #555;
}

/* Conteúdo de boas-vindas */
main {
    padding: 20px;
    text-align: center;
}

main h1, main h2 {
    color: #333;
    margin-bottom: 10px;
}

main p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

main ul {
    list-style-type: none;
    padding-left: 0;
}

main ul li {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
}

main ul li strong {
    color: #333;
}

main img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilo para os links sugeridos */
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.link-item {
    flex: 1 1 calc(30% - 60px);
    box-sizing: border-box;
    margin: 60px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.link-item img {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin: 0 auto 10px;
    object-fit: contain;
}

.link-item p {
    font-size: 1.2rem;
    color: #333;
}

.link-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos para a página Sobre */
.content-wrapper {
    max-width: 800px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    padding: 0 20px; /* Adiciona espaçamento nas laterais para dispositivos móveis */
    text-align: justify; /* Alinha o texto à esquerda justificado */
}

.content-wrapper h1, .content-wrapper h2 {
    color: #333;
    margin-bottom: 10px;
}

.content-wrapper p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.content-wrapper ul {
    list-style-type: none;
    padding-left: 0;
}

.content-wrapper ul li {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
}

.content-wrapper ul li strong {
    color: #333;
}

.content-wrapper img {
    width: auto;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilos para a página de login */
.login-wrapper {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px 30px 20px 20px; /* Adicionando mais padding à direita */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-wrapper h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-wrapper .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-wrapper .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-wrapper .form-group input {
    width: calc(100% - 20px); /* Reduzindo a largura para ajustar ao padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.login-wrapper .form-links {
    margin-bottom: 15px;
    text-align: left;
}

.login-wrapper .form-links a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.login-wrapper .form-links a:hover {
    text-decoration: underline;
}

.login-wrapper button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.login-wrapper button:hover {
    background-color: #0056b3;
}