{% extends 'base.html' %}
{% load static %}
{% block title %}Home - portutalk{% endblock %}

{% block content %}
    <h1>Bem-vindo ao Portutalk!</h1>
    <p>Aqui você aprenderá português de maneira divertida e interativa.</p>

    <h2>Sugestões para Iniciantes</h2>
    <div class="links">
        {% for link in links %}
        <div class="link-item">
            <a href="{{ link.url }}" target="_blank">
                <img src="{% static link.image %}" alt="{{ link.name }}">
                <p>{{ link.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
